---
- debug: msg="{{current_relation}}"

- set_fact:
    disco: consul
    registry_uri: "consul://{{consul_api__address}}:{{consul_api__port}}"
    when: consul_api__address is defined and consul_api__port is defined

- include: backend-record.yml
  when: registry_url is defined
